<body>

<div class="navbar">

</div>
<div class="container">
  <form>
    <div class="form-group">
      <label for="inputName">Imię</label>
      <input type="text" class="form-control" id="inputName" placeholder="Podaj swoje imię">
    </div>
    <div class="form-group">
      <label for="inputSurname">Nazwisko</label>
      <input type="text" class="form-control" id="inputSurname" placeholder="Podaj swoje nazwisko">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="text" class="form-control" id="inputEmail" placeholder="Podaj swój email">
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Płeć</legend>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline1">Mężczyzna</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline2">Kobieta</label>
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Opis</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="inputAge">Wiek</label>
      <select class="custom-select" class="form-control" id="inputAge" required>
        <option value="1"></option>
        <option value="2">18</option>
        <option value="3">19</option>
        <option value="4">20</option>
        <option value="5">21</option>
        <option value="6">22</option>
        <option value="7">23</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputAge">Stan cywilny</label>
      <select class="form-control" class="form-control" id="inputAge">
        <option></option>
        <option>Panna</option>
        <option>Kawaler</option>
        <option>Żonaty</option>
        <option>Mężatka</option>
      </select>
    </div>
    <div class="button">
      <input class="btn btn-primary" type="submit" value="Wyślij">
      <input class="btn btn-primary" type="reset" value="Wyczyść" style="margin-left: 20px;">
    </div>
  </form>

</div>
<div class="scroll">
  <button class="btn btn-success" onclick="showTopButton()">
    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>Do góry
  </button>
</div>
<footer class="stopka">Copyrights © Andrzej Krakowski | 2019</footer>
<script src="js/navbar.js"></script>
<script src="js/scroll.js"></script>
</body>
